
#btn1{
    left: 285.666px;
    position: absolute;
    top: 15px;
    
}
#btn2{
    left: 426.6666px;
    position: absolute;
    top: 22px;
}
#btn3{
    left:  568.8888px;
    position: absolute;
    top: 22px;
}
#btn4{
    left: 711.1111px;
    position: absolute;
    top: 22px;
}
#btn5{
    left: 853.3333px;
    position: absolute;
    top: 22px;
}
